<html>
    <head>
        <title>Blog App </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" href="/views/stylesheet.css">

    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container " >
                <div class="ui header item yellow inverted button "> 
                    <i class="pencil alternate icon"></i>
                    Blog Site 
                </div>
            </div>
            <button class="ui orange inverted button ">
                <a href="/" >Home</a>
            </button>
            <button class="ui orange inverted button ">
                <a href="/blogs/new" >New Post</a>
            </button>
        </div>