<%- include("partials/header.ejs") %>
<p>.</p>
<div id="x"class="ui container segment" style="margin-top:50px;">
    <div class="ui huge header ">New Blog</div>
    <form class="ui form" action="/blogs" method="POST">
        <div class="field">
            <label>Title</label>
            <input type="text" name="blog[title]" placeholder="title">
        </div>   
        <div class="field">
            <label>Image</label>
            <input type="text" name="blog[image]" placeholder="image URL">
        </div>   
        <div class="field">
            <label>Blog content: </label>
            <textarea name="blog[body]" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="field">
            <input class="ui green inverted button big" type="submit">
        </div>   
            
    </form>
</div>
<%- include("partials/footer.ejs") %>